/* Fondo con degradado completo */
body {
    background: linear-gradient(to bottom, #1a2a45, #122033);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
}

/* Ajuste del contenedor */
.app-container {
    width: 100%;
    max-width: 1200px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Título */
.title {
    font-size: 2.5rem;
    text-align: center;
    margin-bottom: 15px;
    color: white;
}

/* Carrusel estilizado */
.carousel {
    position: relative;
    width: 100%;
    max-width: 550px;
    height: auto;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5);
    background: none; /* QUITAMOS EL COLOR NEGRO */
    z-index: 1;
 
    margin-top: 15px;
}

/* Imágenes dentro del carrusel */
.carousel-slide {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 20px;
    opacity: 0.9;
    transition: opacity 0.5s, transform 0.5s;
}

/* Ajuste de botones */
button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.7);
    color: white;
    border: none;
    padding: 15px;
    cursor: pointer;
    font-size: 24px;
    border-radius: 50%;
    transition: background 0.3s ease, transform 0.3s;
    z-index: 10;
}

button:hover {
    background: rgba(255, 255, 255, 0.9);
    color: black;
    transform: scale(1.2);
}

.prev {
    left: 15px;
}

.next {
    right: 15px;
}

footer {
    width: fit-content; /* Ajuste automático según el contenido */
    max-width: 90%;  /* Se adapta en pantallas pequeñas */
  
   
    color: white;
    background: rgba(255, 255, 255, 0.1);
    border-radius: 10px;
    margin: 10px auto; /* Centrado con menos margen */
    font-size: 14px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);



    margin-top: 20px;
    padding: 10px;
    text-align: left; /* Alinea el texto a la izquierda */
    width: fit-content; /* Ajusta el ancho al contenido */
    

}

/* Ajuste en móviles */
@media (max-width: 768px) {
    footer {
        width: 50%;
        font-size: 12px;
    }
}
